{% extends '::Batteries/layout.html.twig' %}

{% block title %}Add Batteries{% endblock %}

{% block content %}

    {{ form_start(form) }}

    {{ form_row(form.type) }}
    {{ form_row(form.count) }}
    {{ form_row(form.owner) }}

    {% include 'Form/submit.html.twig' with {'text': 'Save'} %}

    {{ form_end(form) }}

    <a href="{{ path('show') }}">Show all</a>
{% endblock %}