{% extends '::Batteries/layout.html.twig' %}

{% block title %}Batteries{% endblock %}

{% block content %}
    {% if not batteries|length %}
        <div class="alert alert-info text-center">
            <p>No data found</p>
            <p>Click <a href="{{ path('add') }}">here</a> to add new batteries to the box</p>
        </div>
    {% else %}
        <table class="table">
            <caption class="text-center">
                Click <a href="{{ path('add') }}">here</a> to add new batteries to the box
            </caption>
            <thead>
                <tr>
                    <th>Type</th>
                    <th class="text-right">Count</th>
                </tr>
            </thead>
            <tbody>
            {% for battery in batteries %}
                <tr>
                    <td>{{ battery.type }}</td>
                    <td class="text-right">{{ battery.num }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('reset') }}">Reset all data</a>
    {% endif %}
{% endblock %}